<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="saucedemo.utils.ExtentReport_Manager" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="saucedemo.testclasses.LoginPageTest" />
			
			<class name="saucedemo.testclasses.ProductPageTest"/>
			<class name="saucedemo.testclasses.CartPageTest"/>
			<class name="saucedemo.testclasses.CheckOutPageTest"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->


